div {
 font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
 font-size:50px;
 height: 150px;
 vertical-align: middle;
 background-color: rgb(180, 180, 180);
}
body {
    background-color: rgb(255, 255, 255);
}
input {
    border-top: none;
    border-right: none;
    border-left: none;
}