body{
 background:#d1cfcf
}
input{
 border: 1px solid #1b2538;
 border-radius: 4px;
 color: #1b2538;
 font-size: 15px;
 transition: all ease-in-out 0.3s;
 &::-webkit-input-placeholder {
  color: #aaa;
 }
 &::placeholder {
  color: #aaa;
 }
}
input:focus {
 border: 1px solid #b6b6b6;
 outline: none;
 box-shadow: 0 0 5px 3px #b6b6b6;
}
h1{
 font-size: 40px;
 font-family: 'Kiwi Maru', serif;
 font-family: 'M PLUS Rounded 1c', sans-serif;
}
p{
 font-size: 18px;
 font-family: 'Kiwi Maru', serif;
 font-family: 'M PLUS Rounded 1c', sans-serif;
}